$light-blue: #c5feff;
$blue: #4177dd;

$galaxy-purple: #4844ae;
$dark-purple: #130676;

$header-background: #bfbfbf;

$accent-pink: #f06bea;
$accent-yellow: #ffc059;
$accent-orange: #fb6600;

// 2022

$background-dark: #100223;
$primary-dark: #1D152C;
$primary-white: #ffffff;
$primary-black: #000000;

$light-purple: #B9BDF0;
$dark-purple: #949EF9;
$shadow-blue: #6183E7;
$accent-green: #AED450;

$primary-darker: #03111B;

$primary-white-border: #ffffff3b;


$primary-white-back_button: #ffffff14;

$primary-submit-btn: #007AD3;
$primary-submit-btn-hover: #0067b0;

$primary-dark-gray: #505050;
$primary-gray: #d3d3d3;
$primary-gray-hover: #f4f4f4;
$primary-gray-hover-2: #e2e2e2;

$primrary-green: #18350f80;

$primary-blue: #000054;